{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>odinAI</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/compiled/style.min.css' %}" />

    <style>
    
        /* BLOG POSTS FROM DJANGO */
  

  .postTitle {
    padding-top: 0em; 
    font-size: 5.5vmin;
    font-weight: 500;
  }
  
  .postImage {
    padding-top: 0.7em; 
  }
  
  #postImageID {
    width: 100%;
  }
  
  .postDescription {
    padding-top: 0.7em; 
    font-size: 4.5vmin;
  }
  
  .postDate {
    padding-top: 0.7em; 
    font-size: 4vmin;
  }
  
  /* FOR XL */
  
  .blogPage .bp1xl {
    height: 20%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vmin;
    font-weight: 700;
    padding-bottom: 0.5em;  
  }
  
  .postTitlexl {
    padding-top: 0em; 
    font-size: 5vmin;
    font-weight: 500;
  }
  
  .postDescriptionxl {
      text-align: justify;
    padding-top: 0.7em; 
    font-size: 2.25vmin;
  }
  
  .postDatexl {
    padding-top: 0.7em; 
    padding-bottom: 1em;
    font-size: 1.5vmin;
  }
  
  .postImagexl {
    padding-top: 0.25em; 
  }
  
  .rowWrapperXL {
    padding: 0.2em 0;
  }
  
  .subContent {
    line-height: normal;
    font-size: 4vmin;
    font-weight: 100;
    font-style: italic;
  }
  
  .subContentXL {
    line-height: normal;
    font-size: 2vmin;
    font-weight: 100;
    font-style: italic;
  }
    </style>


</head>

<body>
    <!-- navigation -->
    <nav class="main_nav nav-active">
        <div class="main_nav_holder">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <a href="{% url 'index'  %}" class="main_nav_holder--img">
                            <!-- <img src="{% static 'images/odinai-transparent.png' %}" class="img-fluid" alt="OdinAI"> -->
                            <img src="{% static 'images/odinai-transparent.png' %}" class="img-fluid" alt="OdinAI">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="main_nav_holder_links">
                            <ul>
                                <li><a href="{% url 'index'  %}">Home</a></li>
                                <!-- <li><a href="{% url 'about'  %}">About</a></li> -->
                                <li><a href="{% url 'blog'  %}">Blog</a></li>
                                <li><a href="{% url 'collegeblog' %}">AI Survival Guides</a></li>
                                <li><a href="{% url 'job'  %}">Job Board</a></li>
                            </ul>
                        </div>
                        <div class="ham-btn d-block d-md-none">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <!-- banner[start] -->
        <section>
            <div class="main_banner small">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-6 col-12">
                            <div class="main_banner_content">
                                <h1 class="main_banner_content--head">Deep Learning College Guides</h1>
                                <h5 class="main_banner_content--desc" style="font-size: 2.25vmin;">Content created by college graduates and seniors - courses to take, clubs to join, professors to work under and
                                        more.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topmar">
                    <div id="particles-js"></div>
                </div>
            </div>
        </section>
        <!-- banner[end] -->
        <!-- adddon content section[start] -->
        <section>
            <div class="content_area_articles pt-2 pb-5">
                <div class="container max-960">


                        <div class="blogPostsContainer d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
                                <div class="container blogPage">
                            
                                  {% for post in CPosts %}
                            
                                  <div class="row rowWrapper"> 
                                      <div class="col"></div>
                                      <div class="col-10">
                                          <div class="postTitle"><a href="{% url 'postDetail' pk=post.pk %}">{{post.cposttitle}}</a></div>
                                          <div class="postImage"><img src="/media/{{post.cimage}}" id="postImageID"/></div>
                                          <div class="postDescription">{{post.cpostsummary}}</div>
                                          <div class="postDate">{{post.ccreated_at|date:"d M Y"}}</div>
                                      </div>
                                     <div class="col"></div>
                                  </div> 
                                  <hr/> 
                                  {% endfor %}
                            
                                </div>
                              </div>




                              <div class="blogPostsContainer d-none d-lg-block d-xl-none d-none d-xl-block">
                                    <div class="container blogPage">
                                
                                      {% for post in CPosts %}
                                
                                      <div class="row container rowWrapperXL"> 
                                          <div class="col-8">
                                              <div class="postTitlexl"><a href="{% url 'cpostDetail' pk=post.pk %}">{{post.cposttitle}}</a></div>
                                              <div class="postDescriptionxl">{{post.cpostsummary}}</div>
                                              <div class="postDatexl">{{post.ccreated_at|date:"d M Y"}}</div>
                                          </div>
                                          <div class="col-1"></div>
                                          <div class="col-3">
                                              <div class="postImagexl"><img src="/media/{{post.cimage}}" id="postImageID"/></div>
                                          </div>
                                          
                                      </div> 
                                      <hr/> 
                                      {% endfor %}
                                
                                    </div>
                                </div>


                </div>
            </div>
        </section>
        <!-- adddon content section[end] -->
        <!-- contact us[start] -->
        <section>
            <div class="contact py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 pb-2">
                            <h2 class="common--head">Connect with Us</h2>
                            <!-- <span class="common--wave">
                        <img src="{% static 'images/wave.png' %}" class="img-fluid" alt="wvae">
                      </span> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_social">
                                <a href="mailto:cbsudu@gmail.com">
                                    <i class="far fa-envelope"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact us[end] -->
    </main>
    <footer>
        <div class="footer_copy">
            <p class="text-center m-0">&copy; Copyright OdinAI.</p>
        </div>
    </footer>
    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/c-render.js' %}"></script>
    <script>
        jQuery(document).ready(function($){
            $(window).on("load scroll", function () {
                if ($(window).scrollTop() > 0) {
                    $(".main_nav").addClass("nav-active");
                    //var btmImg = $(".main_nav_holder--img img").attr("data-down");
                    //$(".main_nav_holder--img img").attr("src", btmImg);
                    //console.log(btmImg);
                } else {
                    $(".main_nav").removeClass("nav-active");
                    //var upImg = $(".main_nav_holder--img img").attr("data-top");
                    //console.log(upImg);
                    //$(".main_nav_holder--img img").attr("src", upImg);
                }
            });
        }(jQuery));
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 77,
                    "density": {
                        "enable": true,
                        "value_area": 1203
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 1000
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 150,
                        "height": 150
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 4,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 210,
                        "size_min": 0.3,
                        "sync": true
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 224,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 2,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": true,
                    "attract": {
                        "enable": true,
                        "rotateX": 1200,
                        "rotateY": 1200
                    }
                }
            },
            "retina_detect": true
        });
    </script>

</body>

</html>
{% endblock %}